certifi==2020.6.20
filehash==0.1.dev5
Flask-Cors==3.0.8
flask-restplus==0.13.0
Flask-SQLAlchemy==2.4.4
gevent==20.9.0
kombu==4.6.11
pandas==0.25.1
pyodbc==4.0.30
python-logstash-async==1.5.1
wincertstore==0.2
Werkzeug==0.16.1
PyMySQL==0.10.0
mysqlclient==2.0.1
etmfa-core
